.shopping {
    position: relative;

    .shopping__length__cart {
        position: absolute;
        left: 80%;
        bottom: 70%;
        font-size: 1rem;
        padding: .2rem .6rem;
        background: #fff;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border:.1rem solid #fb5531;
    }
}