.info__shop {
    background: #fff;
    margin-top: 1rem;

    .layout {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        .info__header {
            display: flex;
            align-items: center;
            gap: 1rem;

            .logo__shop {
                position: relative;

                .img__logo {
                    width: 6rem;
                    height: 6rem;
                    border-radius: 50%;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;
                    overflow: hidden;
                }


                box-shadow: inset 0 0 .1rem #0005;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;

                .preferred {
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    -webkit-transform: translateX(-50%);
                    -moz-transform: translateX(-50%);
                    -ms-transform: translateX(-50%);
                    -o-transform: translateX(-50%);
                    background: #ee4d2d;
                    color: #fff;
                    padding: .1rem .2rem;
                    border-radius: .2rem;
                    -webkit-border-radius: .2rem;
                    -moz-border-radius: .2rem;
                    -ms-border-radius: .2rem;
                    -o-border-radius: .2rem;
                }
            }

            .header__box__visit__shop {
                display: flex;
                justify-content: space-between;
                width: 100%;
                align-items: center;

                .info__text {
                    .name__shop {
                        font-size: 1.5rem;
                        line-height: 1.8rem;
                        color: #000000;
                        font-weight: 600;
                        margin-bottom: .5rem;
                    }

                    .time__shop__online {
                        font-size: 1.2rem;
                        color: #bdbdbd;
                        font-weight: 100;
                    }

                    .localtionsShop {
                        @extend .time__shop__online;
                        display: block;
                    }

                }
            }

            .box__btn__visit__info__shop {
                flex: 1;

                .btn__more {
                    display: flex;
                    justify-content: flex-end;

                    .text__btn {
                        font-size: 1.2rem;
                        color: #ee4d2d;
                        font-weight: 100;
                        text-transform: uppercase;
                        display: inline-block;
                        padding: .5rem 1rem;
                        border: .2rem solid #ee4d2d;
                        border-radius: .4rem;
                        -webkit-border-radius: .4rem;
                        -moz-border-radius: .4rem;
                        -ms-border-radius: .4rem;
                        -o-border-radius: .4rem;
                        text-wrap: nowrap;
                    }
                }

                .btn__chat {
                    @extend .btn__more;
                    display: none;
                }

            }
        }

        .info__body {
            margin-top: 0.5rem;

            .body__work__underneath__1000 {
                display: flex;
                gap: 1rem;

                .items {
                    font-size: 1.2rem;

                    .paramanter__prefix {
                        color: #ee4d2d;
                        margin-right: 0.5rem;
                    }

                    .paramanter__suffix {
                        @extend .paramanter__prefix;
                        display: none;
                    }
                }

            }
            .body__work__on__1000{
                @extend .body__work__underneath__1000;
                display: none;
            }

        }

        .footer {
            display: flex;
            width: 100%;
            gap: 1rem;
            overflow: hidden;
            overflow-x: auto;
            scroll-behavior: smooth;
            scrollbar-color: transparent transparent;

            .voucher {
                border: .1rem solid #fbcac1;
                background: #fff4f4;
                flex: 0 0 80%;
                display: flex;
                min-width: 40rem;

                .value__voucher {
                    position: relative;
                    flex: 1;
                    padding: 1rem;
                    display: flex;
                    gap: .3rem;
                    flex-direction: column;

                    .border__voucher {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                    }

                    .price {
                        color: #ee4d2d;
                        font-size: 1.6rem;
                    }

                    .max__value {
                        font-size: 1.1rem;
                        color: #ee4d2d;
                    }

                    .out__of__date {
                        color: #757070;
                        font-size: 1rem;
                        margin-top: 1rem;
                    }
                }

                .btn__apply__voucher {
                    display: flex;
                    align-items: center;
                    padding: 1rem;
                    border-left: .1rem dotted #f333;

                    .text__btn {
                        color: gray;
                        padding: .2rem 1.5rem;
                        background: #fff;
                        font-size: 1.2rem;
                        border: 0.1rem solid #ee4d2d;
                        border-radius: .3rem;
                        -webkit-border-radius: .3rem;
                        -moz-border-radius: .3rem;
                        -ms-border-radius: .3rem;
                        -o-border-radius: .3rem;
                        text-transform: capitalize;
                    }
                }
            }

            .items__views {
                display: flex;
                align-items: center;
                padding: 1rem;
                margin-left: 1rem;
                justify-content: center;

                .btn__show__more {
                    display: flex;
                    align-items: center;
                    flex-direction: column;

                    .icon {
                        width: 3.2rem;
                        height: 3.2rem;
                        fill: #ee4d2d;
                    }

                    .text__btn {
                        text-wrap: nowrap;
                        text-align: center;
                        font-size: 1.4rem;
                        font-weight: 600;
                        color: #ee4d2d;
                    }
                }
            }
        }

        .info__description {
            text-wrap: nowrap;
            text-align: start;
            font-size: 1.2rem;
            font-weight: 100;
            color: #757070;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}