@media screen and (min-width:1300px){
    .result__search__items__page--layout {
        display: flex;
        gap: 1rem;
    }
    .result__search__items__page--filter {
        flex: 1;
    }
    .result__search__items__page--items {
        flex: 5;
    }
    .result__search__items__page--filter {
        display: block;
    }
    .result__search__items__page__items__need__search__body--items {
        grid-template-columns: repeat(5,1fr) !important;
    }
}