.flash__sale--body {
  width: 100%;
  display: flex;
  overflow: hidden;
  overflow-x: auto;
  scrollbar-width: none;
  gap: 1rem;
}
.flash__sale__body--items {
  width: 17rem;
}
.flash__sale__body__items--img {
  position: relative;
  width: 17rem;
  height: 17rem;
}
.flash__sale__body__items__img--event {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.flash__sale__body__items__img--discount {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  right: 0;
  background: #ffe97a;
}
.flash__sale__body__items__img__discount--icon {
  position: absolute;
  top: 0;
  left: -0.4rem;
}
.flash__sale__body__items__img__discount--number {
  color: #f65f32;
  font-size: 1.3rem;
  padding: 0 1rem;
  font-weight: 500;
}
.flash__sale__body__items--cost {
  display: flex;
  gap: 0.2rem;
  justify-content: center;
  margin-top: 2rem;
}
.flash__sale__body__items--cost--unit,
.flash__sale__body__items--cost--price {
  color: #f65f32;
  font-size: 1.8rem;
}
.flash__sale__body__items--sell {
  width: 100%;
  margin-top: 1rem;
  background: #ffbda6;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  position: relative;
  z-index: 1;
  overflow: hidden;
  height: 1.6rem;
  margin-bottom: 0.4rem;
}
.flash__sale__body__items__sell__still--title,
.flash__sale__body__items__sell__sold--titl {
  text-align: center;
  color: #fff;
  font-size: 1.2rem;
  text-transform: uppercase;
  z-index: 3;
  position: absolute;
  width: 100%;
}
.flash__sale__body__items__sell__sold--progress,
.flash__sale__body__items__sell__still--progress {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  background: #ed2915;
  z-index: 2;
}
.flash__sale__body--arrow--left,
.flash__sale__body--arrow--right {
  display: none;
}
.flash__sale__body__items__sell--sold {
  text-align: center;
  position: absolute;
  width: 100%;
  background: #ed2915;
}
.flash__sale__body__items__sell__sold--title {
  color: #fff;
  font-size: 1.2rem;
  text-transform: uppercase;
  z-index: 3;

}
