
.header__result__search__mobi--layout {
  position: relative;
  padding: 1rem ;
  background: #fff;
}
.header__result__search__mobi--header {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.header__result__search__mobi__header__menu--icon,
.header__result__search__mobi__header__filter--icon,
.header__result__search__mobi__header__btn__back--icon {
  width: 2.2rem;
  stroke: #ee4d2d;
  fill: #ee4d2d;
}
.header__result__search__mobi__header--search {
  background: #f2f2f2;
  flex: 1;
}
.header__result__search__mobi__header--filter {
  display: flex;
  align-items: end;
}
.header__result__search__mobi__header__filter--title {
  color: #ee4d2d;
}
