@media screen and (min-width: 1000px) {
    .you__also__like {
        margin-top: 5rem;
        .you__also__like__layout{
            .header {
                margin-bottom: 2rem;
                .header__title {
                    text-align: start;
                }
            }
        }
    }
}