@media screen and (min-width:1000px){
    #result__search__items__page {
        padding-top: 2rem;
    }
    .result__search__items__page--layout {
        display: flex;
        gap: 1rem;
    }
    .result__search__items__page--filter {
        flex: 1;
    }
    .result__search__items__page--items {
        flex: 5;
    }
    .result__search__items__page--filter {
        display: block;
    }
    .result__search__items__page__items--length {
        display: flex;
        justify-content: center;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
  
}