.result__search__items__page__items__need__search--header,
.result__search__items__page__items__need__search__body--navigations {
    display: none;
}
.result__search__items__page__items__need__search__body--items {
    display: grid;
    grid-template-columns: repeat(1,1fr) ;
    gap: 1rem;
}