@media screen and (min-width: 1000px) {
  .shopee__banner__body--banner {
   width: 100%;
   height: 100%;
  }
.shopee__banner__body__banner--img{
  height: 100%;
}
  .shopee__banner__body__banner--arrow--right,
  .shopee__banner__body__banner--arrow--left {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    padding: 2rem 1rem;
    border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
    background: #0404042f;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
  .shopee__banner__body__banner--arrow--right {
    right: 0;
  }
  .shopee__banner__body__banner--arrow--left {
    left: 0;
  }
  .shopee__banner__body--banner:hover
    > .shopee__banner__body__banner--arrow--right,
  .shopee__banner__body--banner:hover
    > .shopee__banner__body__banner--arrow--left {
    opacity: 1;
  }
}
