#header__main__page__mobi {
  width: 100%;
  position: relative;
}
.header__main__page__mobi--layout {
  top: 0;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 2rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.header__main__page__mobi__box--img {
  width: 2.4rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  overflow: hidden;
}
.header__main__page__mobi--box--cpm--search {
  flex: 3;
  background: #fff;
}
.header__main__page__mobi--box--info {
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.header__main__page__mobi__box__info--icons {
  width: 2.4rem;
  fill: #fff;
}
.header__main__page__mobi--slider {
  display: block;
  height: 28rem;
}
