@media screen and (min-width: 1000px) {
  #banner__main__page {
    margin-top: 2rem;
    display: block;
  }
  .banner__main__page--layout {
    display: flex;
    gap: 1rem;
  }
  .banner__main__page--banner {
    flex: 3;
  }
  .banner__main__page__box--frame-side-event {
    flex: 1 ;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }
  
}
