@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: #333;
  --webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  font-family: "Be Vietnam Pro", sans-serif;
}

html {
  font-size: 62.5%; /*1rem = 10px*/
  font-family: "Be Vietnam Pro", sans-serif;
}
body {
  background: #efefef;
}
.layout {
  padding: 2rem;
  width: 100%;
  margin: auto;
}

@media screen and (min-width: 600px) {
  .layout {
    width: 100%;
    max-width: 50rem;
    padding: 0;
  }
}

@media screen and (min-width: 700px) {
  .layout {
    width: 100%;
    max-width: 60rem;
    padding: 0;
  }
}

@media screen and (min-width: 800px) {
  .layout {
    width: 100%;
    max-width: 70rem;
    padding: 0;
  }
}
@media screen and (min-width: 900px) {
  .layout {
    width: 100%;
    max-width: 80rem;
    padding: 0;
  }
}
@media screen and (min-width: 1000px) {
  .layout {
    width: 100%;
    max-width: 90rem;
    padding: 0;
  }
}
@media screen and (min-width: 1100px) {
  .layout {
    width: 100%;
    max-width: 100rem;
    padding: 0;
  }
}
@media screen and (min-width: 1200px) {
  .layout {
    width: 100%;
    max-width: 110rem;
    padding: 0;
  }
}
@media screen and (min-width: 1300px) {
  .layout {
    width: 100%;
    max-width: 120rem;
    padding: 0;
  }
}
@media screen and (min-width: 1400px) {
  .layout {
    width: 100%;
    max-width: 130rem;
    padding: 0;
  }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
